<nav class="navbar fixed-top navbar-expand-md navbar-light bg-white shadow-sm">
  <a class="navbar-brand">
    <img src="/data/hospital-icon.png" alt="Cabinet Photo">
    <span class="navbar-title">Cabinet Soins à Grenoble</span>
  </a>
</nav>

<div class="container" style="padding-top: 90px">
  <section class="nurse-available">
    <h2 class="intro-title">Infirmiers disponibles</h2>
    <h5 class="intro-subtitle">{{infirmiers.length}} Infirmiers disponibles</h5>
    <div class="row">
      <div class="col-md-4" *ngFor="let infirmier of infirmiers">
        <app-infirmier [infirmier]="infirmier" style="width: 100%"></app-infirmier>
      </div>
    </div>
  </section>
  <section class="not-affected-patients" style="margin-top: 20px">
    <h2 class="intro-title">Patients non affectés</h2>
    <h5 class="intro-subtitle">{{data.patientsNonAffectes.length}} patients non affectés</h5>
  </section>
</div>
