.container{
  margin: 30px;
}

.intro-title{
  text-align: center;
}

.intro-subtitle{
  text-align: center;
  margin: 10px;
}

.navbar-title{
  font-size: 25px;
  vertical-align: bottom;
  margin-left: 15px;
}

.navbar-brand > img{
  width: 45px;
  height: 45px;
}
